.styled-Link-14t5ase {
    text-decoration: none;
    color: #3a81cd;
    padding-bottom: 2px
}
.css-Link-bct63j {
    border-bottom: 2px solid #3a81cd
}
.styled-Menu-lc0l0u {
    list-style-type: none;
    margin: 16px;
    padding: 0
}
.styled-MenuItem-1g41d4y {
    display: inline-block
}
.styled-MenuItem-1g41d4y:not(:last-child) {
    margin-right: 16px
}