{
  "presets": [
    ["env", { "useBuiltIns": true, "targets": { "chrome": 60, "node": true } }],
    "react"
  ],
  "plugins": [
    "ramda",
    ["emotion/babel", { "extractStatic": true }],
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "universal-import"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-class-properties",
        "transform-es2015-classes"
      ]
    }
  }
}
