{
  "presets": ["env", "react"],
  "plugins": [
    ["emotion/babel", { "extractStatic": true }],
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "universal-import"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
